<%- include('./partials/header')-%>
<%- include('./partials/navbar')-%>
<h1>Checkout</h1>
<form action="/orders" method="POST">
    <label>Adress:</label>
    <input type="text" name="address"></input>
    <br>
    <label>Payment Id:</label>
    <input type="text" name="paymentId"></input>
    <br>
    <div name="items">
        <% if (!(typeof cart == 'undefined')) { %>
        <% cart.forEach(product => { %>
        <div class="container">
            <p>Product ID: <%- product.productId%> </p>
            <p>Product Quantity: <%- product.quantity %> </p>
        </div>
        <br>
        <% }) %>
        <% } %>
    </div>
    <button type="submit">Place Order</button>
</form>
<%- include('./partials/footer')-%>