<%- include('./partials/header')-%>
<%- include('./partials/navbar')-%>
<h1>Categories</h1>
<div class="grid-container">
    <% if (categories) { %>
    <% categories.forEach(category => { %>
    <div class="container">
        <img src="/images/<%- category.image %> " alt="">
        <p><strong><%-category.name  %> </strong></p>
        <p><%- category.page_description %> </p>
    </div>
    <% }) %>
    <% } %>
</div>
<%- include('./partials/footer')-%>