<%- include('./partials/header')-%>

<h1>Categories</h1>
<% if (categories) { %>
<% categories.forEach(category => { %>
<img src="/images/<%- category.image %> " alt="">
<p><strong><%-category.name  %> </strong></p>
<p><%- category.page_description %> </p>
<% }) %>
<% } %>

<%- include('./partials/footer')-%>