<%- include('./partials/header')-%>
<%- include('./partials/navbar')-%>
<h1>Categories</h1>
<div class="grid-container">
    <% if (!(typeof categories == 'undefined')) { %>
    <% categories.forEach(category => { %>
    <div class="container">
        <img src="/images/<%- category.image %> " alt="">
        <br>
        <p><%- category.page_description %> </p>
        <a href="/subcategory/<%- category.id %>"><strong>View Subcategories</strong></a>
    </div>
    <% }) %>
    <% } %>
</div>
<%- include('./partials/footer')-%>