<%- include('./partials/header')-%>
<%- include('./partials/navbar')-%>
<link rel="stylesheet" type="text/css" href="/stylesheets/product-list.style.css" />
<div class="grid-container">
    <% if (product) { %>
    <h1><%-product.name  %> </h1>
    <div class="container">
        <img src="/images/<%- product.image_groups[0].images[0].link %>"
            alt="<%- product.image_groups[0].images[0].alt %>">
        <h2><%- product.page_description %> </h2>
        <h2>Price:<%- product.price %> <%- product.currency %> </h2>
    </div>
    <% } %>
</div>
<%- include('./partials/footer')-%>