<%- include('./partials/header')-%>
<%- include('./partials/navbar')-%>
    <h1>Wishlist</h1>
    <div>
        <% if (!(typeof wishlist == 'undefined')) { %>
        <% wishlist.forEach(product => { %>
        <div class="container">
            <p>Product ID: <%- product.productId%> </p>
            <p>Product quantity: <%- product.quantity %> </p>
        </div>
        <% }) %>
        <% } %>
    </div>
<%- include('./partials/footer')-%>
